

.Home1 {
  text-align: center;
  background-color: #009BDD;
  color: #4499D7;
}

/* .Background {
  height: 100vmin;
  width: 100;
  pointer-events: none;
} */

.Cell1 {
  height: 34.7vmin;
  width: 10;
  pointer-events: none;
  padding: 30px;
  padding-top: 83px;
}

.Cell2 {
  height: 27vmin;
  width: 10;
  pointer-events: none;
  padding: 30px;
  padding-left: 35px;
  padding-top: 120px;
}

.Cell3 {
  height: 40vmin;
  width: 10;
  pointer-events: none;
  padding: 30px;
}

.Cell4 {
  height: 40vmin;
  width: 10;
  pointer-events: none;
  padding: 30px;
}

@media (prefers-reduced-motion: no-preference) {
  .Cell1 {
    animation: Cell-spin infinite alternate 1.8s;
  }
  .Cell2 {
    animation: Cell-spin infinite alternate 1.8s;
  }
  .Cell3 {
    animation: Cell-spin infinite alternate 1.8s;
  }
  .Cell4 {
    animation: Cell-spin infinite alternate 1.8s;
  }
}

.column {
  float: left;
  width: 20%;
  padding: 10px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.row {
  padding-left: 100px;
  padding-top: 140px;
  padding-bottom: 38px;
}

@keyframes Cell-spin {
  from {
    transform: rotate(-3.5deg);
  }
  to {
    transform: rotate(3.5deg);
  }
}

@keyframes Cell-spin-reverse {
  from {
    transform: rotate(3.5deg);
  }
  to {
    transform: rotate(-3.5deg);
  }
}

.Home1-header {
  /* background-image: url("./assets/images/yumi_insta.png"); */
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: local;
  max-width: 100%;
  width: 100%;
  height: auto;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #4499D7;
}



.chatbtn {
  border: none;
  color: none;
  background-color: rgba( 255, 255, 255, 0 );
  padding: 15px 32px;
  padding-bottom: 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  transition: 0.125s all ease-in;
  cursor: pointer;
}

.chatbtn:hover {
  /* background-color: #00a0fe;
  box-shadow: 0px 15px 20px rgba(30, 199, 255, 0.4);
  color: #fff; */
  transform: translateY(-20px);
}