

.Home1 {
  text-align: center;
  background-color: #009BDD;
  color: #4499D7;
}

.Background {
  height: 100vmin;
  width: 100;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .Background {
    animation: Background-spin infinite 20s linear;
  }
} */

.Home1-header {
  /* background-image: url("./assets/images/yumi_insta.png"); */
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: local;
  max-width: 100%;
  width: 100%;
  height: auto;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #4499D7;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chatbtn {
  border: none;
  color: none;
  background-color: rgba( 255, 255, 255, 0 );
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}